.App{
  background-color: rgba(255, 255, 255, 0.457);
  height: auto;
  background-size: cover;
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: lighter;
  font-style: normal;
}

/* Navbar container */
.navbar {
  background-color: #17a2b8; /* Set background color */
  padding: 10px 20px; /* Add padding */
}

/* Navbar brand link */
.navbar-brand {
  color: #fff; /* Set text color */
  font-size: 1.5em; /* Set font size */
  font-weight: bold; /* Set font weight */
  text-decoration: none; /* Remove underline */
}

/* Navbar links */
.navbar-nav .nav-item .nav-link {
  color: #fff; /* Set text color */
  font-size: 1.2em; /* Set font size */
  font-weight: bold; /* Set font weight */
  text-decoration: none; /* Remove underline */
  padding: 0.5em 1em; /* Add padding */
  transition: background-color 0.3s; /* Add transition effect */
}

/* Navbar links on hover */
.navbar-nav .nav-item .nav-link:hover {
  background-color: rgba(255, 255, 255, 0.2); /* Change background color on hover */
  border-radius: 5px; /* Add border radius on hover */
}

/* Navbar toggler icon */
.navbar-toggler-icon {
  color: #fff; /* Set color */
}

/* Navbar toggler button */
.navbar-toggler {
  border: none; /* Remove border */
  background-color: transparent; /* Set background color */
}

/* Navbar toggler button on hover */
.navbar-toggler:hover {
  background-color: rgba(255, 255, 255, 0.2); /* Change background color on hover */
  border-radius: 5px; /* Add border radius on hover */
}
